@model Games_Storage_App.Models.GameViewModel

<div class="row">
    <div class="col-md-3 my-4">
        <div class="list-group ">
            <a asp-action="GetGames" class="list-group-item list-group-item-action">Список игр</a>
            <a asp-action="GetGenres" class="list-group-item list-group-item-action">Список жанров</a>
            <a class="list-group-item list-group-item-action">Поиск по жанрам</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card my-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Данные об игре</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Название</label>
                            <div class="col-8">
                                <p class="font-weight-normal">@Model.Name</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Разработчик</label>
                            <div class="col-8">
                                <p class="font-weight-normal">@Model.Developer</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Жанр</label>
                            <div class="col-8">
                                <p class="font-weight-normal">
                                    @for (int j = 0; j < Model.Genres.Count; j++)
                                    {
                                        @Model.Genres[j].Genre.Name
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Действия
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" Asp-action="ChangeInformation" Asp-route-id="@Model.Id">Редактировать (название, разработчик)</a>
                                <a class="dropdown-item" Asp-action="UpdateGenres" Asp-route-id="@Model.Id">Добавить/убрать жанр</a>
                                <a class="dropdown-item" Asp-action="DeleteGame" Asp-route-id="@Model.Id">Удалить игру</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>